node_modules
.pnp
.pnp.js
dist
build
.next
out
*.tsbuildinfo
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
coverage
.nyc_output
.prisma/client
prisma/*.db
uploads
logs
*.log
.gstack/
.vercel
.env*.local
